@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior-x: none;
}

@layer components {
  .scrim {
    @apply bg-gradient-to-t;
    --tw-gradient-stops: theme(colors.base-100) 0%,
      theme(colors.base-100 / 73.8%) 19%, theme(colors.base-100 / 54.1%) 34%,
      theme(colors.base-100 / 38.2%) 47%, theme(colors.base-100 / 27.8%) 56.5%,
      theme(colors.base-100 / 19.4%) 65%, theme(colors.base-100 / 12.6%) 73%,
      theme(colors.base-100 / 7.5%) 80.2%, theme(colors.base-100 / 4.2%) 86.1%,
      theme(colors.base-100 / 2.1%) 91%, theme(colors.base-100 / 0.8%) 95.2%,
      theme(colors.base-100 / 0.2%) 98.2%, theme(colors.transparent) 100%;
  }
}
